.form_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
    text-align: left;
}
.image{
    width : 100%;
}
.form{
    width: 60vw;
}
.form_heading{
    align-self: flex-start;
    width: 60vw;
    margin: 10px 0px;
}
.input{
    width: 100%;
    margin: 10px 0px;
}

.select{
    width: 100%;
    background-color: #262730;
    padding : 10px 5px;
    border: 0;
    border-radius: 5px;
    color : white;
    margin: 15px 0px;
}
.number_input{
    width: 100%;
    background-color: #262730;
    padding : 10px 5px;
    border: 0;
    border-radius: 5px;
    color : white;
    margin: 15px 0px;
}
.button{
    background-color: #0F1116;
    padding: 5px 15px;
    color: white;
    border: 1px solid white;
    font-size : 20px;
    border-radius: 10px; 
    margin-bottom: 15px;
}